body {
    font-family: arial;
    margin-top: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
}

header {
    text-align: center;
    background-color: darkgrey;
    padding: 10px;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.inputs {
    margin-top: 20px;
    width: 100%;
}

.buttonCss {
    margin-top: 10px;
}

main {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

table, th, tr, td, tbody {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
}

.deleteOne {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 30%;
    margin-right: 30%;
}

footer {
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
    margin-top: 30px;
}

